*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to left, #fff 85%,#c3f5ff 20%);
}
.navsection{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: none;
    background-image: linear-gradient(to top, #fff 80%,#c3f5ff 20%);
}
.logo{
    width: 25%;
    color: white;
    background-image: linear-gradient(#8d98e3 40%,#854fee 60%);
    padding-left: 100px;
    box-sizing: border-box;
}
.logo h1{
    text-transform: uppercase;
    font-size: 1.6rem;
    animation: anime 2s linear infinite;
    animation-direction: alternate;
}
@keyframes anime {
    from{padding-left: 40px;}
    to{padding-right: 50px;}
}
nav{
    width: 75%;
    /* background-color: yellow; */
    display: flex;
    justify-content: space-around;
}
nav a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: 900;
    font-size: 17px;
    position: relative;
}
nav a:first-child{
    color: #4458dc;
}
nav a:before{
    content: "";
    position: absolute;
    top: 110%;
    left: 0;
    width: 0%;
    height: 2px;
    border-bottom:2px solid #4458dc;
    transition: 0.35s linear;
}
nav a:hover:before{
    width: 100%;
}
main{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.rightside{
    background-color: #e8fbff;
    border-radius: 70% 30% 70% 30% / 30% 30% 70% 70% ;
}
.rightside img{
    max-width: 500px;
}
.leftside{
    color: black;
    text-transform: uppercase;
}
.leftside h3{
    font-size: 40px;
    margin-bottom: 20px;
}
.leftside h3::after{
    content: "";
    position: absolute;
    width: 450px;
    height: 3px;
    top: 44.8%;
    left: 15.09%;
    background: black;
}
.leftside h1{
    margin-top: 20px;
    font-size: 70px;
    margin-bottom: 25px;
}
.leftside h2{
    margin-bottom: 35px;
    font-weight: 500;
    word-spacing: 5px;
}
.leftside .btn1,.btn2{
    text-decoration: none;
    position: relative;
    font-weight: 900;
    font-size: 14px;
    text-align: center;
    padding: 12px 25px;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
    display: inline-block;
    margin-right: 50px;
    transition: .3s linear;
}
.leftside .btn1{
    color: #fff;
    background-image: linear-gradient(to right,#4458dc 0%,#854fee 100%),radial-gradient(circle at top left,#4458dc,#854fee);
    border: double 2px transparent;
    box-shadow: 0 10px 30px rgbs(118,85,225,.3);
}
.leftside .btn2,.btn1:hover{
    color: #222;
    background-image: none;
    background-color: #fff;
    border:2px solid #4458dc;
    box-shadow:none;
}
.leftside .btn2:hover{
    color: #363e75;
}
